<section class="hero">
    <div class="row">
        <h1>Welcome, <%= link_to @user.email %></h1>
        <h3><%= request.location.city %></h3>
        <h3><%= @userloc %></h3>
        </div>
</section>



        <div class="row" style="text-align:center">
            <div class="button button-primary" id="explore"><a href="/items/new">Post Item</a></div>
        </div>


 <%= render "items" %>

</div>


