  <div class="container">
  <h2>About LendZen</h2>
  <p>There's a world out there of new things to try, and people nearby who have those things. With LendZen, find the stuff you want to try out but don't want to commit to ownership yet. Whether you want to try before you buy, or you just need to borrow some equipment for a short-term purpose, LendZen is the perfect place to find and borrow the coolest stuff on a budget.</p>


  </div>