<div class="container">
	<div class="row">
		<div class="newitem">

<h3>Frequently Asked Questions</h3>



	<h4>What is LendZen?</h4>
		<h6>LendZen is a social platform where you can connect with nearby users, request to borrow stuff you want to try out and post stuff of your own to lend out. It is the ultimate place to find and try out the coolest tech gear without committing to ownership.</h6>
	<h4>How Does it Work?</h4>
		<h6> LendZen is a great place to find cameras, lenses, drones, and other tech gear to borrow for a fraction of what it would cost to buy outright. Freely search for and/or post items for exchange. Once you find something you want to try, connect with the user who has posted the item, arrange an exchange, and enjoy!</h6>
	<h4>What kind of stuff can I lend out or borrow from others?</h4>
		<h6>All kinds of things! But the more popular items include cameras, lenses, drones and other photography gear.</h6>
	<h4>Is my stuff safe to lend out? How can I guarantee I'll get it back?</h4>
		<h6>LendZen runs on the honor system. If someone is interested in borrowing an item of yours, get to know them and be sure to agree on terms you feel comfortable with. You also have the option to request a security deposit to ensure the safe return of your stuff.</h6>

		</div>
	</div>
</div>