  <div class="container">
  <div class="row center-align">
    <div class="homebutts col s12 m12 l12">
          <br><br>
      <div class="col s12 m4 l4">
        <a class='btn-large blue lighten-1 white-text' href='/items'>ALL ITEMS</a>
      </div>
      <div class="col s12 m4 l4">
        <a class='dropdown-button btn blue lighten-1 center-align' href='#' data-activates='dropdown1'>CATEGORIES</a>
     </div> 
      <div class="col s12 m4 l4">
      <a class='btn-large white-text blue lighten-1' href='/items/new'>ADD NEW ITEM</a>
      </div>
    </div>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="/items?utf8=✓&search=drone&commit=Search">Drone</a></li>
    <li><a href="/items?utf8=%E2%9C%93&query=camera&commit=Search">Camera</a></li>
    <li><a href="/items?utf8=%E2%9C%93&search=lens&commit=Search">New Lens</a></li>
    <li><a href="/items">Surprise Me!</a></li>
  </ul>
</div>
</div>

<div class="center-align">
  <h2>Today, I want to try a:</h2>
</div>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPHMZtetMMOLXlYjQ7XPpD6_eoaaenAy-ZFI4EUB4cGazfaRFcuttilUo"> <!-- random image -->
        <div class="caption center-align">
          <h2>Welcome to LendZen</h2>
          <h4 class="light grey-text text-lighten-3" width="500px"> What do you want to try today?</h4>
        </div>
      </li>
      <li>
        <img src="http://static1.squarespace.com/static/51de6261e4b0ff2f7c9a5142/52ca4ce2e4b0da03983872fb/52ca4ce5e4b04a45ef2c6f77/1391810371075/San_Francisco_Aerial_Drone_Photography_01.jpg" width="500px"> <!-- random image -->
        <div class="caption center-align">
          <h1>Drone</h1>
        </div>
      </li>
      <li>
        <img src="http://matthewalesci.com/nycwebsite/nycskyline.jpg" width="500px"> <!-- random image -->
        <div class="caption center-align">
          <h1>New Camera</h1>
        </div>
      </li>
      <li>
        <img src="https://iso.500px.com/wp-content/uploads/2015/12/bwcover.jpg" width="500px"> <!-- random image -->
        <div class="caption center-align">
          <h1>Telephoto Lens</h1>
        </div>
        </li>
        <li>
        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/11542077_861423757760_6246893044170703713_n.jpg?oh=027a00b8b74c17bb444451dd118efb21&oe=58223276" width="500px">
          <div class="caption center-align">
          <h1>Wide Angle Lens</h1>
        </div>
      </li>
    </ul>
  </div>

<br><br>

<br><br><br>
<div class="container">
  <div class="row">
    <p>There's a world out there of new things to try, but it's hard to keep up with it all, let alone afford it. LendZen is here for you to find the stuff you want to try out but don't want to commit to ownership yet. Whether you want to try before you buy, or you just need to borrow some equipment for a short-term purpose, LendZen is the perfect place to find and borrow the coolest stuff at a significantly lower cost than buying outright.</p>

  </div>
</div>

  <h1 style="text-align:center">Item Gallery</h1>
  <hr>

  <div class="row">
  <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=phantom&commit=Search">
  		<img src="http://petapixel.com/assets/uploads/2016/03/djiphantom4head.jpg" width="400px" height="325px" />
  		<span class="text-content"><span>Phantom 4 Drone<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=canon&commit=Search">
  		<img src="http://recomhub.com/blog/wp-content/uploads/2014/10/Canon_70D.jpg" width="400px" height="325px" />
  		<span class="text-content"><span>Canon 70D DSLR<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=camera&commit=Search">
  		<img src="http://cdn.picturecorrect.com/wp-content/uploads/2015/01/choosing-dslr-lens-1.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Canon Lens<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items">
  		<img src="http://cdn.ndtv.com/tech/images/gadgets/nikon_d810_camera.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Nikon D60<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=✓&query=drone&commit=Search">
  		<img src="http://media.bestofmicro.com/ext/aHR0cDovL21lZGlhLmJlc3RvZm1pY3JvLmNvbS9VLzYvNTY0ODQ2L29yaWdpbmFsL1NvbG9fV2hpdGVfQW5nbGUuanBn/r_365x220.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Drone<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=phantom&commit=Search"">
  		<img src="http://petapixel.com/assets/uploads/2016/03/djiphantom4head.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Phantom 4 Drone<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
  
  </div>