
<div class="container">
	<div class="row center-align">
		<div class="col s12 m12 l12">
			<h2>Today, I want to try a:</h2>
      <div class="col s12 m6 l6">
      <a class='btn-large blue lighten-1 white-text' href='/items'>ALL ITEMS</a>
      </div>
      <div class="col s12 m6 l6">
     <a class='dropdown-button btn blue lighten-1' href='#' data-activates='dropdown1'>CATEGORIES</a>
     </div>
      
      <div class="col s12 m6 l6">
      <a class='btn-large white-text red lighten-1' href='/items/new'>ADD NEW ITEM</a>
      </div>

		</div>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="/items?utf8=%E2%9C%93&query=drone&commit=Search">Drone</a></li>
    <li><a href="/items?utf8=%E2%9C%93&query=camera&commit=Search">Camera</a></li>
    <li><a href="/items?utf8=%E2%9C%93&query=lens&commit=Search">New Lens</a></li>
    <li><a href="/items">Surprise Me!</a></li>
  </ul>

</div>
</div>
</div>
</div>

<div class="container">
  <div class="row">
    <p>There's a world out there of new things to try, but it's hard to keep up with it all, let alone afford it. LendZen is here for you to find the stuff you want to try out but don't want to commit to ownership yet. Whether you want to try before you buy, or you just need to borrow some equipment for a short-term purpose, LendZen is the perfect place to find and borrow the coolest stuff at a significantly lower cost than buying outright.</p>

  </div>
</div>


<div class="container">
  <hr>
  <div class="row">
  <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=phantom&commit=Search">
  		<img src="http://petapixel.com/assets/uploads/2016/03/djiphantom4head.jpg" width="400px" height="325px" />
  		<span class="text-content"><span>Phantom 4 Drone<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=canon&commit=Search">
  		<img src="http://recomhub.com/blog/wp-content/uploads/2014/10/Canon_70D.jpg" width="400px" height="325px" />
  		<span class="text-content"><span>Canon 70D DSLR<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=camera&commit=Search">
  		<img src="http://cdn.picturecorrect.com/wp-content/uploads/2015/01/choosing-dslr-lens-1.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Canon Lens<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items">
  		<img src="http://cdn.ndtv.com/tech/images/gadgets/nikon_d810_camera.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Nikon D60<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=✓&query=drone&commit=Search">
  		<img src="http://media.bestofmicro.com/ext/aHR0cDovL21lZGlhLmJlc3RvZm1pY3JvLmNvbS9VLzYvNTY0ODQ2L29yaWdpbmFsL1NvbG9fV2hpdGVfQW5nbGUuanBn/r_365x220.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Drone<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=phantom&commit=Search"">
  		<img src="http://petapixel.com/assets/uploads/2016/03/djiphantom4head.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Phantom 4 Drone<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
  </div>
  </div>
<!-- 
  <div class="container contact">
  <h5>Contact</h5>
  <h6>Get in touch</h6>
  <hr>
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">E-Mail</label>
            </div>
          </div>
          <textarea class="materialize-textarea" placeholder="Your Message" required></textarea>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="mdi-content-send right"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="col s12 m6 l6 contact-holder">
      <h6 class="mdi-action-home">Address</h6>
      <p>639 Lincoln Way, San Francisco, CA 94122</p>
      <h6 class="mdi-hardware-phone-android">Phone Number</h6>
      <p>7742222139</p>
    </div>
  </div>
</div> -->