  <div class="container">
  <div class="row center-align">
    <div class="homebutts col s12 m12 l12">
          <br><br>
      <div class="col s12 m4 l4">
        <a class='btn-large blue lighten-1 white-text' href='/items'>ALL ITEMS</a>
      </div>
      <div class="col s12 m4 l4">

        <a class='dropdown-button btn blue lighten-1 center-align' href='/users' data-activates='dropdown1'>FIND USERS</a>
     </div>
      <div class="col s12 m4 l4">
      <a class='btn-large white-text blue lighten-1' href='/items/new'>POST ITEM</a>
      </div>
    </div>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="/items?utf8=✓&search=drone&commit=Search">Drone</a></li>
    <li><a href="/items?utf8=%E2%9C%93&query=camera&commit=Search">Camera</a></li>
    <li><a href="/items?utf8=%E2%9C%93&search=lens&commit=Search">New Lens</a></li>
    <li><a href="/items">Surprise Me!</a></li>
  </ul>
</div>
</div>

<!-- <div class="center-align">
  <h2>Today, I want to try a:</h2>
</div> -->
<div>
    <!-- <ul class="slides"> -->
      <li>
        <div class="caption center-align">
          <h2>Welcome to LendZen</h2>
          <h4 class="light grey-text" width="500px"> What do you want to try today?</h4>
          <img src="https://static.pexels.com/photos/356056/pexels-photo-356056.jpeg" width="1000px"> <!-- random image -->

        </div>
      </li>
    </div>

<br><br><br>

    <div class="row center-align">
      <div class="col s4">
      <i class="large material-icons center-align icon-blue">search</i><br>
        Find nearby users who are interested in trying your things, and make some extra $$ while you're at it. An easy and fun way to increase your ROI.
      </div>
      <div class="col s4">
      <i class="large material-icons icon-blue">insert_chart</i><br>
        Try out cool tech and photography gear at a much lower price than buying it yourself.
      </div>
      <div class="col s4">
      <i class="large material-icons icon-blue">perm_identity</i><br>
        Safe and reliable. Borrowers and lenders are rated based on how long they have been members and how they treat your things.
      </div>

    </div><br><br>


  <h1 style="text-align:center">Item Gallery</h1>
  <hr>

  <div class="row">
  <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=phantom&commit=Search">
  		<img src="http://petapixel.com/assets/uploads/2016/03/djiphantom4head.jpg" width="400px" height="325px" />
  		<span class="text-content"><span>Phantom 4 Drone<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=canon&commit=Search">
  		<img src="http://recomhub.com/blog/wp-content/uploads/2014/10/Canon_70D.jpg" width="400px" height="325px" />
  		<span class="text-content"><span>Canon 70D DSLR<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=camera&commit=Search">
  		<img src="http://cdn.picturecorrect.com/wp-content/uploads/2015/01/choosing-dslr-lens-1.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Canon Lens<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items">
  		<img src="http://cdn.ndtv.com/tech/images/gadgets/nikon_d810_camera.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Nikon D60<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=✓&query=drone&commit=Search">
  		<img src="http://media.bestofmicro.com/ext/aHR0cDovL21lZGlhLmJlc3RvZm1pY3JvLmNvbS9VLzYvNTY0ODQ2L29yaWdpbmFsL1NvbG9fV2hpdGVfQW5nbGUuanBn/r_365x220.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Drone<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>
    <div class="col s12 m6 l6">
  <ul class="img-list">
  	<li>
  		<a href="/items?utf8=%E2%9C%93&query=phantom&commit=Search"">
  		<img src="http://petapixel.com/assets/uploads/2016/03/djiphantom4head.jpg" width="400px" height="325px"/>
  		<span class="text-content"><span>Phantom 4 Drone<br><br><br><button class="waves-effect waves-light btn blue lighten-1">Select</button></span></span>
  		</a>
  	</li>
  </ul>
  </div>

  </div>
