<div class="row center-align">
	<div class="col s8 offset-s2">
	<div class="newitem">
<h1>Editing Item</h1>

<%= render 'form' %>

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>
</div>
</div>
</div>