<div class="row center-align">
	<div class="col s8 offset-s2">
		<div class="newitem">
		<div class="container">
		<h2>Post an Item</h2>

		<%= render 'new' %>

		<%= link_to 'Back', items_path %>
			</div>
		</div>
	</div>
</div>
